@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
	background-color: #fff;
	color: #1D3557;
	font-family: 'Noto Sans Telugu', 'Noto Sans', sans-serif;
}

.page-font {
	font-weight: 400;
	font-size: 1.2rem;
}

.navigator {
	margin: 2rem;
}

.navigator a {
	text-decoration: none;
	padding: 1rem 2rem;
	background-color: #1D3557;
	color: #fff;
	border-radius: 5px;
}

@media screen and (max-width:600px) {
	.page-font {
		font-size: 1.5rem;
	}
}

.surah-list{
	display: flex;
	flex-wrap: wrap;
}